.adress {
  background-color: $basic_white;
}


.adress__wrapper {
  min-width: 280px;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    min-width: 708px;
    margin: 0 auto;
    padding: 0 30px;
  }
}

.adress__desc {
  display: flex;
  padding: 19px 0;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding: 62px 42px 58px 40px;
  }
}

.adress__subtitle {
  font-size: 16px;
  color: $basic_black;
  padding: 0;
  margin: 0;
  margin-right: 2px;
  width: 140px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 21px;
    width: 171px;
  }
}

.adress__description {
  line-height: 20px;
  color: $special_dark-grey;
  padding: 0;
  margin: 0;
  width: 140px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    width: 159px;
  }
}

.adress__form {
  background-color: $basic_grey;
}
