.button {
  background-color: $basic_green;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: $basic_white;
  text-transform: uppercase;
  outline: none;
  border: none;
  width: 100%;
  padding: 7px 44px;
}
