.how-works {
  background-color: $basic_white;

  @media (min-width: $tablet-width) {
    padding: 45px 74px 47px 0;
    border-bottom: 1px solid #e6e6e6;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 11px 0;
    border: none;
  }
}

.how-works__wrapper {
  min-width: 280px;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    min-width: 708px;
    margin: 0 auto;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    min-width: 1220px;
    margin: 0 auto;
    padding: 0 110px;
  }
}

.how-works__list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 46px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.how-works__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: $basic_black;
  margin-bottom: 38px;
  margin-top: 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 183px;
  }
}

.how-works__description {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: $special_dark-grey;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: $tablet-width) {
  .how-works__list {
    display: flex;
    justify-content: flex-start;
    margin-right: 137px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.how-works__item {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }


  @media (min-width: $desktop-width) {
    margin-right: 77px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.how-works__item:last-child {
  margin-bottom: 0;
}
