.how-works {
  background-color: $basic_white;
}

.how-works__wrapper {
  min-width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}

.how-works__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.how-works__list {
  margin-bottom: 46px;
}

.how-works__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: $basic_black;
  margin-bottom: 38px;
  margin-top: 0;
}

.how-works__description {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: $special_dark-grey;
  padding: 0;
  margin: 0;
}

.how-works__description::before {
  content: "";
  background-color: $basic_green;
  width: 60px;
  height: 60px;
  display: block;
}

.how-works__description--benefit::before {
  content: "";
  background-image: url("/img/icon_benefit_mobile.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25px 28px;
}

.how-works__description--powder::before {
  content: "";
  background-image: url("/img/icon_powder_mobile.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 29px 31px;
}

.how-works__description--exchange::before {
  content: "";
  background-image: url("/img/icon_exchange_mobile.svg");
  background-size: 25px 28px;
  background-repeat: no-repeat;
  background-position: center;
}

.how-works__description--changes::before {
  content: "";
  background-image: url("/img/icon_changes_mobile.svg");
  background-size: 25px 28px;
  background-repeat: no-repeat;
  background-position: center;
}

.how-works__item {
  margin-bottom: 20px;
}

.how-works__item:last-child {
  margin-bottom: 0;
}
