.page-header {
  background-color: $basic_white;
  padding: 11px 0 17px 0;
}

.page-header__wrapper {
  min-width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}

.page-header__logo--avatar {
  margin-right: 57px;
}
