.programs {
  background-color: $basic_white;
}

.programs__wrapper {
  min-width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}

.programs__content {
  background-color: $basic_grey;
  margin-bottom: 20px;
  padding: 30px 20px 22px 20px;
}

.programs__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: $basic_black;
  text-transform: uppercase;
  margin-bottom: 29px;
  margin-top: 0;
  display: flex;
  align-items: center;
}

.programs__title::before {
  content: "";
  background-color: $basic_green;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 19px;
}

.programs__title--weight-loss::before {
  content: "";
  background-image: url("/img/cat-slim.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 36px 50px;
}

.programs__title--weight-gain::before {
  content: "";
  background-image: url("/img/cat-fat.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 67px 28px;
}

.programs__description {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: $special_dark-grey;
  border-bottom: 1px solid #d9d9d9;
  padding: 0;
  margin: 0;
  padding-bottom: 23px;
}

.programs__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: $basic_black;
}

.programs__link-text {
  display: inline;
  margin-right: 17px;
  padding: 0;
  margin: 0;
}

.programs__link:link {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: $basic_black;
}

.programs__link:hover {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: $basic_black;
}

.programs__link:active {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
}

.programs__foot {
  padding-top: 19px;
}
