.programs {
  background-color: $basic_white;
}

.programs__wrapper {
  min-width: 280px;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    min-width: 768px;
    margin: 0 auto;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    min-width: 1220px;
    margin: 0 auto 71px auto;
    padding: 0 110px;
    display: flex;
    justify-content: space-between;
  }
}

.programs__content {
  background-color: $basic_grey;
  margin-bottom: 20px;
  padding: 30px 20px 22px 20px;

  @media (min-width: $tablet-width) {
    padding: 77px 61px 53px 52px;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 77px 51px 55px 52px;
    width: 570px;
    margin-bottom: 0;

    &:first-child {
      margin-right: 80px;
    }
  }
}

.programs__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: $basic_black;
  text-transform: uppercase;
  margin-bottom: 29px;
  margin-top: 0;
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 73px;
  }
}

.programs__description {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: $special_dark-grey;
  border-bottom: 1px solid #d9d9d9;
  padding: 0;
  margin: 0 0 19px 0;
  padding-bottom: 23px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    border: 0;
    margin-bottom: 52px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 27px;
  }
}

.programs__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: $basic_black;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.programs__link-text {
  display: inline;
  margin: 0;
  margin-right: 17px;
  padding: 0;
}

.programs__link:link {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: $basic_black;
}

.programs__link:hover {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: $basic_black;
}

.programs__link:active {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
}

.programs__foot {
  padding: 0;
}
