.site-list {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: $basic_black;
  text-align: center;
  text-transform: uppercase;
}

.site-list__item {
  padding: 22px 0 24px 0;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    border: none;
    margin-right: 32px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.site-list__item:last-child {
  border-bottom: none;
}

.site-list__link {
  text-decoration: none;
}

.site-list__link:link {
  color: $basic_black;
}

.site-list__link:visited {
  color: $basic_black;
}

.site-list__link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.site-list__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-list__link--current {
  color: $basic_black;
  border-bottom: 2px solid #68b738;
}
