.social__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 21px;
  justify-content: center;
  margin-bottom: 21px;
}

.social__item {
  margin-right: 35px;
}

.social__item:last-child {
  margin-right: 0;
}
