// colors

$basic_green: #68b738;
$basic_green-2: #5eaa2f;
$basic_grey: #f2f2f2;
$basic_grey-2: #ebebeb;
$special_grey: #cdcdcd;
$special_grey-2: #666666;
$special_dark-grey: #444444;
$special_dark-grey-2: #222222;
$background_grey: #d9d9d9;
$background_grey-2: #eaeaea;
$form_grey: #e7e7e7;
$plus_grey: #d3d3d3;
$basic_black: #000000;
$basic_black-2: #111111;
$basic_white: #ffffff;
$status_error: #ff8282;
$link_status: #d24899;
